{% extends "base.html.twig" %}

{% block body %}
    <div class="col-md-6">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam aut dolorem ea eaque expedita facere ipsa iure libero mollitia quidem, quisquam, quod ratione repudiandae soluta tempora? Ad exercitationem neque nisi.
        </p>
    </div>
    <div class="col-md-6">
        {{ form_start(form) }}
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword.first) }}
        {{ form_row(form.plainPassword.second) }}

        <button type="submit" class="btn btn-default">Enregistrer</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
